{% extends "base.html" %}

{% block title %}: Password reset complete{% endblock %}
{% block page_header %} - Password reset complete {% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="panel panel-primary mt-5 bg-through">
                    <div class="panel-heading"><h3 class="text-white m-0">Password Reset successful</h3></div>
                    <div class="panel-body">
                        <p>Your password has been set.</p>
                        <p>Feel free to <a href="{{ login_url }}">Log in</a> again.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}