{% extends "base.html" %}

{% block title %}: Change password Page{% endblock %}
{% block page_header %} - Change password Page {% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
    {% if validlink %}
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="panel panel-primary mt-5 bg-through">
                    <div class="panel-heading"><h3 class="text-white m-0">Setting New password</h3></div>
                    <div class="panel-body">
                        <p>Please enter your new password twice.</p>
                        <p>So we can verify you typed it in correctly.</p>
                        <form action="" method="post" class="accountform">
                            <div style="display:none">
                                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                            </div>
                            <table class="table table-responsive mb-0">
                                <tr>
                                    <td>
                                        <label for="id_new_password1">New password:</label></td>
                                    <td>{{ form.new_password1 }}</td>
                                </tr>
                                <tr>
                                    <td><label for="id_new_password2">Confirm password:</label></td>
                                    <td>{{ form.new_password2 }}</td>
                                </tr>
                                {% if form.new_password1.errors %}
                                <tr>
                                    <td colspan="2">
                                        <ul class="list-group mb-0">
                                        {% for error in form.new_password1.errors %}
                                            <li class="list-group-item list-group-item-danger"><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        </ul>
                                    </td>   
                                </tr>
                                {%elif form.new_password2.errors %}
                                <tr>
                                    <td colspan="2">
                                        <ul class="list-group mb-0">
                                        {% for error in form.new_password2.errors %}
                                            <li class="list-group-item list-group-item-danger"><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                        </ul>
                                    </td>
                                </tr>
                                {% endif %}
                            </table>
                            <input type="submit" class="btn btn-primary mt-1" value="Change my password" />
                        </form>
                    </div>
                </div>

            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h3 class="text-white m-0">Password reset unsuccessful</h3></div>
                    <div class="panel-body">
                        <p>The password reset link was <u><strong>invalid</strong></u></p>
                        <p>possibly because it has already been used.</p>
                        <p>Please request a new password reset.</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}
