{% extends "base.html" %}

{% block title %}: Reset email page{% endblock %}
{% block page_header %} - Reset e-mail sent {% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="panel-wrapper panel panel-success mt-5 bg-through">
                    <div class="panel-heading"><h3 class="text-white m-0">Password reset e-mail sent</h3></div>
                    <div class="panel-body">
                        <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted.</p>
                        <p>You should be receiving it shortly.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
