{% extends 'base.html'%}
{% load static from staticfiles %}
{% block content %}

<div class="row">
    <div id="products" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="products-wrapper">
            <div class="panel-wrapper panel">
                <ul class="custom-media-list-products list-inline">
                    {% for product in products %}
                    <li>
                        <div class="thumbnail custom-thumbnail">
                            {% if product.image %}
                            <img src="{{MEDIA_URL}}{{ product.image }}" alt="{{product.name}}">
                            {% else %}
                            <img src="{% static 'media/images/default-product.png' %}" alt="default">
                            {% endif %}
                            <div class="caption">
                                <h3>{{product.name|truncatechars:18}}</h3>
                                <hr>
                                {%if product.offer > 0 %}
                                <p><strike>{{ product.price }} &euro;</strike> now <u
                                        class="text-danger">{{ product.discount }} &euro;</u></p>
                                {% else %}
                                <p>{{ product.price }} &euro;</p>
                                {% endif %}
                                {% if product.stock > 10 %}
                                <p class="text-success">Available</p>
                                {%elif product.stock < 1 %}
                                <p class="text-danger">No avalaibility at the moment</p>
                                {%elif product.stock > 1 and product.stock < 10 %}
                                <p class="text-warning"><u>Only {{ product.stock }} left in stock</u></p>
                                {% endif %}
                                <hr>
                                <div class="text-field">{{ product.description|linebreaks }}</div>
                                <hr>
                                <p>
                                    <a href="#" class="btn btn-primary" role="button">Button</a>
                                    <a href="#" class="btn btn-default" role="button">Button</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock%}