{% extends 'base.html'%}
{% load static from staticfiles %}
{% block content %}
{% if messages %}
<div id="messages-modal" class="opened modal show" tabindex="-1" role="dialog" data-backdrop="static"
    data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {% for message in messages %}
            <div class="modal-header {%if message.level == 25%}bg-success {% elif message.level == 30%} bg-warning {% else %} bg-danger{% endif %}">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{message.extra_tags}}</h4>
            </div>
            <div class="modal-body">
                <p>{{message}}</p>  
            </div>
            {% endfor %}
            <div class="modal-footer">
                <button id="close-messages-modal" type="button" class="btn btn-default close-modal"
                    data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}
<div class="row">
    <div id="products" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="products-wrapper text-center">
            <div class="panel-wrapper">
                <ul class="custom-media-list-products list-inline">
                    {% for product in products %}
                    <li>
                        <div class="thumbnail custom-thumbnail">
                            {% if product.image %}
                            <img src="{{MEDIA_URL}}{{ product.image }}" alt="{{product.name}}">
                            {% else %}
                            <img src="{% static 'media/images/default-product.svg' %}" alt="default">
                            {% endif %}
                            <div class="caption">
                                <h3>{{product.name|truncatechars:18}}</h3>
                                <hr>
                                {%if product.offer > 0 %}
                                <p><strike>{{ product.price }} &euro;</strike> now <u
                                        class="text-danger">{{ product.discount }} &euro;</u></p>
                                {% else %}
                                <p>{{ product.price }} &euro;</p>
                                {% endif %}
                                {% if product.stock > 10 %}
                                <p class="text-success">Available</p>
                                {%elif product.stock == 0 %}
                                <p class="text-danger">No avalaibility at the moment</p>
                                {%elif product.stock > 0 and product.stock < 10 %}
                                <p class="text-warning"><u>Only {{ product.stock }} left in stock</u></p>
                                {% endif %}
                                <hr>
                                <a href="{% url 'product_details' product.id%}">More details here</a>
                                <hr>
                                <form action="{% url 'add_to_cart' product.id %}">
                                    <div class="input-group">
                                        <input name="quantity" type="number" min="0" max="{{product.stock}}"
                                            class="form-control" placeholder="Quantity">
                                        <span class="input-group-btn">
                                            <button class="btn btn-success" type="submit">Add to Cart</button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock%}