{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block checkout_js %}
<script src="https://js.stripe.com/v2/"></script>
<script>
    //<![CDATA][
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script src="{% static 'js/stripe.js' %}"></script>
{% endblock checkout_js%}

{% block content %}

<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="panel-wrapper panel panel-info bg-through mt-5 mb-1">
            <div class="panel-heading">
                Checkout - Payment Details
            </div>
            <div class="panel-body">
                <form id="payment-form" action="{% url 'checkout' %}" method="POST">
                    <div id="credit-card-errors" style="display: none">
                        <p class="alert alert-danger m-0" id="stripe-error-message"></p>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        {{ order_form | as_bootstrap}}

                        <p>Do you wish to save your data?</p>
                        <p>You can save it in your <a href="{% url 'profile'%}">profile</a> </p>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <p class="alert alert-danger m-0" id="stripe-validation-error-message"></p>
                        {{ payment_form | as_bootstrap}}
                    </div>
                    {% csrf_token %}
                    <div class="form-group col-md-12">
                        <input type="submit" class="btn btn-primary" id="submit_payment_btn" name="commit"
                            value="Submit Payment">
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}