{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block title %}: Login Page {% endblock %}
{% block page_header %} - Login Page {% endblock %}
{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="ml-2 panel-wrapper panel panel-info bg-through mt-5">
            <div class="panel-heading">
                <h3 class="text-white">User Login</h3>
            </div>
            <div class="panel-body">
                <p>Should you prefer you can access with your email address rather than your user name</p>
                <hr>
                {% if messages %}
                <div>
                    {% for message in messages %}
                    {{message}}
                    {% endfor %}
                </div>
                {% endif %}
                {% if user.is_authenticated %}
                <p>you are already logged in</p>
                {% else %}
                <form method="POST">
                    <div style="display:none">
                        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                    </div>
                    {{ login_form | as_bootstrap }}
                    <hr>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <button type="submit" class="btn btn-success">Login</button>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <p>Forgot Your Password?</p>
                            <p><a class="btn btn-primary" href="{% url 'password_reset' %}">Reset Password</a></p>
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}