{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% block title %}: Edit your products {% endblock %}
{% block page_header %} - Edit your products {% endblock %}

{% block content %}
<div class="row">
    <div id="user-cart" class="col-xs-12 col-md-6">
        <div class="panel-wrapper panel panel-info bg-through mt-5 mb-1">
            <div class="panel-heading">
                <h3 class="text-white">Your Shopping List</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-condensed table-bordered">
                            {% if cart_items %}
                            <thead>
                                <tr colspan=2>
                                    <th><p>Name</p></th>
                                    <th><p>Price</p></th>
                                    <th><p>add</p></th>
                                    <th><p>delete</p></th>
                                </tr>
                            </thead>
                            {% endif %}
                            <tbody>
                                {% for item in cart_items %}
                                <tr>
                                    <td>
                                        <p>{{ item.product.name }}</p>
                                    </td>
                                    <td>
                                        {% if item.product.offer > 0 %}
                                        <p>{{ item.product.discount }}</p>
                                        {% else %}
                                        <p>{{ item.product.price }}</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                                            <div style="display:none">
                                                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputAmount" class="sr-only">New Qty</label>
                                                <div class="input-group">
                                                    <div class="input-group-addon">Qty</div>
                                                    <input name="quantity" type="number" min="0" max="999" class="form-control">
                                                    <div class="input-group-addon">{{item.quantity}}</div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
                                        </form>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" href="{% url 'del_from_cart' item.product.id %}" role="button"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr class="text-center"><td colspan="2">You shopping cart is empty</td></tr>
                                {% endfor %}   
                                {% if cart_items %}  
                                <tr>
                                    <th scope="row" colspan="4">
                                        <p>Total: {{ total }} &euro;</p>
                                    </th>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table> 
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                {% if cart_items %}
                                <a  class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
                                {% endif %}
                                <a class="btn btn-primary" href="{% url 'index' %}" 
                                    role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Back</a>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}