{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My E-commerce {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        <div class="row">
            <nav class="navbar navbar-default pt-1 mb-0">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed mt-0 ml-1 mr-1" data-toggle="collapse"
                            data-target="#bs-primary-navbar-collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="text-white glyphicon glyphicon-menu-hamburger"></span>
                        </button>
                        <a class="navbar-brand media-page-header" href="{% url 'index'%}">My
                            E-Commerce{% block page_header %}{% endblock %}</a>
                    </div>
                    <ul class="float-right nav nav-pills collapse navbar-collapse" id="bs-primary-navbar-collapse">
                        {% if user.is_authenticated %}
                        <li role="presentation">
                            <a class="btn btn-sm btn-default" href="{% url 'profile'%}">Profile</a>
                        </li>
                        <li role="presentation">
                            <a class="btn btn-sm btn-default" href="{% url 'logout'%}">LogOut</a>
                        </li>
                        {% else %}
                        <li role="presentation" class="mr-1">
                            <a class="btn btn-sm btn-default" href="{% url 'login' %}">SignIn</a>
                        </li>
                        <li role="presentation">
                            <a class="btn btn-sm btn-default" href="{% url 'registration' %}">SignUp</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <section class="container-fluid p-0">
        <div class="carousel-wrapper">
            {% include 'carousel.html' %}
        </div>
        
        <div class="content-wrapper background">
            {% if categories %}
            <div>
                <nav class="navbar navbar-info pt-1 mb-0">
                        <ul class="nav navbar-nav m-0">
                            <li>
                                {% include 'filters.html' with categories=categories%}
                            </li>
                        </ul>
                </nav>
            </div>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </section>
    <footer class="custom-footer sticky-footer bg-light">
        <div class="row">
            <div class="m-auto text-center">
                <p class="copyright">© 2020, Salvatore Fiengo, Inc. or its affiliates. All rights reserved.
                </p>
            </div>
        </div>
    </footer>
    <style type="text/css">
        .background {
            background: url("{% static background_image %}");
            background-repeat: no-repeat;
            background-position: center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            min-height: 100vh
}
    </style>
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
</html>