{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My E-commerce {% block title %} {% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'media/images/favicon.ico'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% block checkout_js %}
    {% endblock checkout_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>

</head>

<body>
    {% if messages %}
    <div id="messages-modal" class="opened modal show" tabindex="-1" role="dialog" data-backdrop="static"
        data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                {% for message in messages %}
                <div
                    class="modal-header {%if message.level == 25%}bg-success {% elif message.level == 30%} bg-warning {% else %} bg-danger{% endif %}">
                    <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{message.extra_tags}}</h4>
                </div>
                <div class="modal-body">
                    <p>{{message}}</p>
                </div>
                {% endfor %}
                <div class="modal-footer">
                    <button id="close-messages-modal" type="button" class="btn btn-default close-modal"
                        data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endif %}
    <header>
        <div class="row">
            <nav class="navbar navbar-default mb-0">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed mt-1 ml-1 mr-1" data-toggle="collapse"
                            data-target="#bs-primary-navbar-collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="text-white glyphicon glyphicon-menu-hamburger"></span>
                        </button>
                        <a class="navbar-brand media-page-header mt-1 mr-3" href="{% url 'index'%}">My
                            E-Commerce</a>
                    </div>
                    <div id="bs-primary-navbar-collapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="mr-2">
                                <a class="text-center" href="{% url 'index' %}"><i class="fas fa-home"></i><p>Home</p></a>
                            </li>
                            {% if user.userprofile.reseller %}
                            <li class="mr-2">
                                <a class="text-center" href="{% url 'user_products' %}"><i class="fas fa-store"></i><p>Your Products</p></a>
                            </li>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <li class="mr-2">
                                <a class="text-center" href="{% url 'profile'%}"><i class="fas fa-user"></i><p>Your Profile</p></a>
                            </li>
                            <li class="mr-2">
                                <a class="text-center" href="{% url 'logout'%}"><i class="fas fa-sign-out-alt"></i><p>LogOut</p></a>
                            </li>
                            {% else %}
                            <li class="mr-2">
                                <a class="text-center" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i><p>SignIn</p></a>
                            </li>
                            <li class="mr-2">
                                <a class="text-center" href="{% url 'registration' %}"><i class="fas fa-user-plus"></i><p>SignUp</p></a>
                            </li>
                            {% endif %}
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="mr-2">
                                <a class="text-center" href="{% url 'view_cart' %}">
                                    <i class="fas fa-shopping-cart"></i>
                                    {% if product_count > 0 %}
                                    <label class="badge badge-warning">{{ product_count }}</label>
                                    {% endif %}
                                    <p>Your Cart</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <section class="container-fluid p-0">
        <div class="carousel-wrapper">
            {% include 'carousel.html' %}
        </div>

        <div class="content-wrapper background">
            {% if categories %}
            <div>
                <nav class="navbar navbar-info pt-1 mb-0">
                    <ul class="nav navbar-nav m-0 mb-1">
                        <li>
                            {% include 'filters.html' with categories=categories%}
                        </li>
                    </ul>
                </nav>
            </div>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </section>
    <footer class="custom-footer sticky-footer bg-light">
        <div class="row">
            <div class="m-auto text-center">
                <p class="copyright">© 2020, Salvatore Fiengo, Inc. or its affiliates. All rights reserved.
                </p>
            </div>
        </div>
    </footer>
    <style type="text/css">
        .background {
            background: url("{% static background_image %}");
            background-repeat: no-repeat;
            background-position: center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            min-height: calc(100vh - 160px);
            height: 100%;
        }
    </style>
</body>
</html>